<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Design Hub Check-In</title>
    <!-- CSS Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>
    <main class="">
        <h1 class="text-bold jumbotron">
            Design Hub
            <small class="lead">Check In</small>
        </h1>

        <!-- List all visitors here -->
        <div class="d-flex flex-column justify-content-start px-3">
            <form class="my-3">
                <input class="form-control w-75" placeholder="Type to search for visitors" type="search"
                    name="search_visitors" />
            </form>
            <section class="lead">
                Previous visitors' info.
            </section>
        </div>
    </main>

    <!-- JS Bootstrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"
        integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf"
        crossorigin="anonymous"></script>
</body>

</html>