<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Design Hub Check-In-System</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        {% load static %} 
        <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>

<body>

    <nav class="d-flex justify-content-end align-items-center flex-row flex-nowrap">
        <span class="mr-auto pl-5 lead">
            <a class="" href="{% url 'homepage' %}">Home </a></span>
        <span class="pr-3"> Welcome, {{ user.username }}</span>
        <span class="py-3 mr-3">
            <a class="nav-link border rounded" href="{% url 'logout' %}">Log Out
            </a>
        </span>
    </nav>
    <main class="mb-5 px-3">
        <h1 class="text-bold jumbotron mx-n4 px-5">
            Design Hub
            <small class="lead">Check In System</small>
        </h1>


        <div class="d-flex flex-column justify-content-start align-items-center px-3 my-4">
            <form class="form my-3 w-75" method="POST" action="{% url 'homepage' %}">
                {% csrf_token %}
                <input class="form-control" placeholder="search..." type="search"
                    name="search_guests" />
            </form>
            <section class="w-md-75 d-flex flex-column align-items-center align-content-center justify-content-center">
                <p class="my-2 lead"> Guests Database
                </p><br />

                <table class="guests table table-responsive table-striped table-sm">
                    <thead class="thead-dark">
                        <tr>
                            <th class="px-n4">#</th>
                            <th>ID No.</th>
                            <th>Name</th>
                            <th>Temperature</th>
                            <th>Date</th>
                            <th>Telephone Number</th>
                            <th>Company</th>
                            <th>Actions</th> 
                        </tr>
                    </thead>
                    <tbody>
                        {% for guest in guests %}
                        <small>
                            <tr class="py-3">
                                <th class="px-n2">{{ guest.id }}</th>
                                <th>{{ guest.id_number }}</th>
                                <td>{{ guest.name }}</td>
                                <td>{{ guest.temperature }}</td>
                                <td>{{ guest.date }}</td>
                                <td>{{ guest.telephone_number }}</td>
                                <td>{{ guest.company }}</td>
                                <td><a href="/edit/{{ guest.id }}"><span class="glyphicon glyphicon-pencil" >Edit</span></a>  
                                <a href="/delete/{{ guest.id }}">Delete</a> </td>
                            </tr>
                        </small>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
        </div>

        <section class="d-flex justify-content-center">
            <a class="btn-lg btn-success add-new-guest" href="{% url 'add-new-guest' %}">Add New Guest</a>
        </section>
    </main>

    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"
        integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf"
        crossorigin="anonymous"></script>

</body>

</html>